<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="font-family: 'sfregular';">
      <ion-back-button defaultHref="/about"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'sfregular';text-align: center;">About-Us</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <!-- <ion-icon style="font-family: 'sfregular';" slot="icon-only" name="cart-outline"></ion-icon> -->
        .</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h3 style="font-family: 'sfregular';">ZEEGNI PRIVATE LIMITED</h3>

  <p style="font-family: 'sfregular';">
    <strong> →</strong> Zeegni Private Limited was entered in January 2025 in the retail and
    e-commerce sector. <br><br>
    <strong> →</strong> The company, branded as Zeegni, brings over 15 years of experience in the e-commerce market.
  </p>

  <p style="font-family: 'sfregular';">
    <strong> →</strong> Zeegni is a premier e-commerce platform specializing in groceries and food delivery.<br><br>
    <strong> →</strong> We provide a seamless online shopping experience, offering a wide range of fresh produce, pantry
    essentials, household items, and ready-to-eat meals, all delivered straight to your doorstep.<br><br>
    <strong> →</strong> Our commitment to quality, affordability, and convenience ensures that customers enjoy the
    freshest products and exceptional service.<br><br>
    <strong> →</strong> With easy ordering, multiple payment options, and fast delivery, we aim to make grocery shopping
    stress-free and time-efficient for individuals and families alike, while supporting local growth through our
    user-friendly app.
  </p>

</ion-content>