<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="font-family: 'sfregular';">
      <ion-back-button defaultHref="/more"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'sfregular';text-align: center;">About-Us</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <!-- <ion-icon style="font-family: 'sfregular';" slot="icon-only" name="cart-outline"></ion-icon> -->
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-item button detail [routerLink]="['/about-policy']">
    <ion-label style="font-family: 'sfmedium';">About </ion-label>
  </ion-item>

  <!-- <ion-item button detail [routerLink]="['/terms']"> -->
  <ion-item button detail  target="_blank" rel="noopener">
    <ion-label style="font-family: 'sfmedium';">Terms & Conditions</ion-label>
  </ion-item>

  <!-- <ion-item button detail [routerLink]="['/privacy']"> -->
  <ion-item button detail  target="_blank" rel="noopener">
    <ion-label style="font-family: 'sfmedium';">Privacy Policy</ion-label>
  </ion-item>

  <!-- <ion-item button detail [routerLink]="['/refund']"> -->
    
  <ion-item button detail  target="_blank" rel="noopener">
    <ion-label style="font-family: 'sfmedium';">Refund Policy</ion-label>
  </ion-item>

  <ion-item>
    <ion-label style="font-family: 'sfmedium';">App version</ion-label>
    <ion-note slot="end" style="font-family: 'sfmedium';">v{{appVersion}} Live</ion-note>
  </ion-item>


</ion-content>