.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  
  #map {
    width: 100%;
    height: 60vh; /* Increased height for better view */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
  }
  
  .location-card {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  ion-button {
    font-family: 'sfregular';
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  