ion-label {
    font-family: 'sfmedium' !important;
}

ul {
    font-family: 'sfregular';
    letter-spacing: 0.2px;
}

li {
    font-family: 'sfregular';
}

p {
    font-family: 'sfregular';
    letter-spacing: 0.2px;
}