ion-header {
    --border-width: 0;
    box-shadow: none;
}


ion-searchbar.custom {
    --background: #ffffff;
    --color: #000;
    --placeholder-color: #000;
    --icon-color: #000;
    --clear-button-color: #000;
    --border-radius: 10px;
}

ion-searchbar.ios.custom {
    --cancel-button-color: #000000;
}

ion-searchbar.md.custom {
    --cancel-button-color: #000000;
}

.search-container {
    position: relative;
    width: 100%;
}

.custom-searchbar {
    --placeholder-opacity: 0;
    --icon-color: black;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: black;
    pointer-events: none;
}

.custom-placeholder {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #000000;
    font-family: 'sfregular';
    transition: opacity 0.3s, transform 0.3s ease-in-out;
}

.animate-placeholder {
    opacity: 0;
    transform: translateY(20px);
}

//-----------------------------------------------------------------------------------------------------

.category-header {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 5px;
    font-family: 'sfregular';
  }
  
  .category-title {
    color: #000;
    z-index: 1;
    background: #fff;
    padding-right: 10px;
    font-family: 'sfmedium';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
  }
  
  .category-line {
    flex-grow: 1;
    height: 1px;
    background: #ccc;
    /* Adjust the color to match the design */
    margin-left: -5px;
    /* Fine-tune to align with text */
  }


  .grid-item {
    text-align: center;
    height: auto;
    width: 75px;
}