<ion-content>
  <div class="background">

    <div class="skip-container" (click)="skipOnboarding()">
      <span class="skip-text">Skip</span>
      <div class="arrow-circle">
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </div>

    <!-- Swiper Container -->
    <swiper-container #swiper [autoplay]="swiperConfig.autoplay" [loop]="swiperConfig.loop" style="margin-top: 20%;">
      <swiper-slide *ngFor="let item of slidesData" style="text-align: center;">
        <ion-row>
          <ion-col size="12">
            <div class="image-container">
              <img style="width: 75%;margin-top: 15%;" [src]="item.image" />
            </div>
            <div class="swiper-pagination"></div>
          </ion-col>
        </ion-row>
      </swiper-slide>
    </swiper-container>

    <!-- Next Button -->
    <div class="imagepart">
      <div style="padding: 6% 12%;">
        <h2>Buy Groceries Easily with Us</h2>
        <p>It is a long established fact that a reader will be distracted by the readable.</p>
      </div>
      <div class="next-button" (click)="skipOnboarding()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </div>

  </div>
</ion-content>